@font-face {
  font-family: "Microgramma";
  src: url("../public/fonts/microgramma/Microgramma.otf") format("opentype");
  font-style: normal;
}
.backToHome {
  margin: 3rem 0 0;
}

.nav {
  font-family: "Microgramma", sans-serif;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.nav a {
  text-decoration: none;
}
.header {
  position: fixed;
  z-index: 3;
  width: 100%;
}
